*
{
  /* Colors and Fonts */
  --blue--: #050E3C;
  --blue2--: #CBDCEB;
  --black--: #000000;
  --white--: #FFFFFF;
  --off-white--: #FCF5EE;
  --red--: #360213;
  --yellow--: #FFE08F;


  --titulos--: 'Nunito';
  --titulos2--: 'Roboto' bold;
  --textos--: 'Roboto';

}



html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: var(--blue2--);
}

h1{
  font-family: var(--titulos--);
  color: var(--black--);
}

h3{
  font-family: var(--titulos--);
  color: var(--black--);
}

.exibicao{
  font-family: var(--titulos2--);
  color: var(--black--);
}

p{
  font-family: var(--textos--);
  font-size: 1.5rem;
  color: var(--black--);
}

/* Catalogo */

.page-catalog{
  font-family: var(--textos--);
  color: var(--red--)
}

.box-catalog{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-img-cartaz{
  height: 390px;
  width: 100%;
  object-fit: cover;
}

/* Carrosel */
.carousel {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;

}

/* Garante que a imagem preencha tudo sem distorcer */

/* Deixa as legendas mais bonitas */
.carousel-caption {
    padding: 20px;
    border-radius: 12px;
    bottom: 20%;
}

/* Navbar */

.navbar{
  background: var(--blue--);
  padding-top: 20px;
}

.nav-link{
  color: var(--white--) !important;
}

.box-function{
  margin-left: 2rem;
  margin-right: 2rem;
  background: var(--off-white--);
}

.card-weather{
  background: var(--off-white--);
  border-radius: 8px;
  padding: 5px 10px;
}

/* Footer */

footer{
  background: var(--blue--);
  color: var(--white--);
}

footer .container{
  color: var(--white--);
}

footer a{
  color: var(--white--);
  text-decoration: none;
}


/* Cards */
.card-img-top{
 height: 180px;
 width: 100%;
}

.card-text{
  font-family: var(--textos--);
  color: var(--blue--);
  font-size: 1.2rem;
}

.btn-primary{
  background: var(--blue--);
  border: none;

}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}